@use 'variables';

.main-nav {
  background-color: black;
  padding: 0.75rem 0;

  ul.nav {
    gap: 2rem;

    .nav-link {
      color: variables.$color-text;
      font-weight: 600;
      transition: 0.2s ease;

      &:hover {
        color: variables.$color-accent;
        transform: translateY(-2px);
      }
    }
  }
}
